.vscode/
.pytest_cache/
.ruff_cache/
.venv/
test_output/
matrices
**/__pycache__/
*.pyc
*.pyo
*.pyd
.coverage
.coverage.*
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.egg-info/
build/
dist/

# Test artifacts
.hypothesis/
ssstats_cache.json
